.Nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 5rem 0.8rem 5rem;
  z-index: 999;

  background-color: rgb(160, 160, 160);
}

.menu-icon {
  height: 2.5rem;
  width: 2.5rem;
}
.logo {
  height: 4rem;
}
button {
  background-color: rgb(145, 144, 144);
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 1rem;
  width: 12rem;
  box-shadow: 8px 10px black;
  border: none;
}

button:hover {
  background-color: rgb(118, 118, 118);
  box-shadow: 5px 5px rgb(74, 74, 74);
  cursor: pointer;
}

.body {
  padding-top: 12rem;

  display: flex;

  flex-direction: row;
  justify-content: space-evenly;
}

.polysense {
  margin-top: 5rem;
  height: 20rem;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
